<div id="r4">
    <div id="r4_c">
        <div id="r4_c_r1">
            <div id="r4_c_r1_c1">
                <div id="r4_c_r1_c1_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/hand.png")" ></img>
                    </div>
                    <div class="tab2" style="width:35px;">
                    推荐
                    </div>
                    <div class="tab" style="width:45px;">
                    全部
                    </div>
                    <div class="tab" style="width:90px;">
                    Android手机
                    </div>
                    <div class="tab" style="width:90px;">
                    Android平板
                    </div>
                    <div class="tab" style="width:55px;">
                    iPhone
                    </div>
                    <div class="tab" style="width:45px;">
                    iPad
                    </div>
                    <div class="tab" style="width:55px;">
                    轻应用
                    </div>
                    <div class="morelink"><a href="@Url.Content("~/Home/List?cat2=tj")">更多</a></div>
                </div>
                <div id="r4_c_r1_c1_r2">
                    <ul id="contentrow">
                        <li class="larrow">
                            <input id="left_btn_1" type="image" src="@Url.Content("~/Images/larrow.png")" />
                        </li>
                        <li class="center">
                            <div id="content"></div>
                            <div id="page">
                                <input type="image" src="@Url.Content("~/Images/dot.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                                <input type="image" src="@Url.Content("~/Images/dot_gray.png")" />
                            </div>
                        </li>
                        <li class="rarrow">
                            <input id="right_btn_1" type="image" src="@Url.Content("~/Images/rarrow.png")" />
                        </li>
                    </ul>                    
                </div>
            </div>
            <div id="r4_c_r1_c2">
                <div id="r4_c_r1_c2_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/play.png")" ></img>
                    </div>
                    <div class="tab2">
                    最新
                    </div>
                </div>
                <div id="r4_c_r1_c2_r2"></div>
            </div>
        </div>
        <div id="r4_c_r2">
            <div id="r4_c_r2_c1">
                <div id="r4_c_r2_c1_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/lst.png")" ></img>
                    </div>
                    <div class="tab2">
                    Android手机专区
                    </div>
                    <div class="morelink"><a href="@Url.Content("~/Home/List?cat=adphone")">更多</a></div>
                </div>
                <div id="r4_c_r2_c1_r2"></div>
            </div>
            <div id="r4_c_r2_c2">
                <div id="r4_c_r2_c2_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/lst.png")" ></img>
                    </div>
                    <div class="tab2">
                    iPhone专区
                    </div>
                    <div class="morelink"><a href="@Url.Content("~/Home/List?cat=iphone")">更多</a></div>
                </div>
                <div id="r4_c_r2_c2_r2"></div>
            </div>
            <div id="r4_c_r2_c3">
                <div id="r4_c_r2_c3_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/app.png")" ></img>
                    </div>
                    <div class="tab2">
                    轻应用专区
                    </div>
                </div>
                <div id="r4_c_r2_c3_r2"></div>
            </div>
        </div>
        <div id="r4_c_r3">
            <div id="r4_c_r3_c1">
                <div id="r4_c_r3_c1_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/lst.png")" ></img>
                    </div>
                    <div class="tab2">
                    Android平板专区
                    </div>
                    <div class="morelink"><a href="@Url.Content("~/Home/List?cat=adpad")">更多</a></div>
                </div>
                <div id="r4_c_r3_c1_r2"></div>
            </div>
            <div id="r4_c_r3_c2">
                <div id="r4_c_r3_c2_r1">
                    <div class="tab1">
                        <img src="@Url.Content("~/Images/lst.png")" ></img>
                    </div>
                    <div class="tab2">
                    iPad专区
                    </div>
                    <div class="morelink"><a href="@Url.Content("~/Home/List?cat=ipad")">更多</a></div>
                </div>
                <div id="r4_c_r3_c2_r2"></div>
            </div>
            <div id="r4_c_r3_c3">
                <div id="r4_c_r3_c3_r1">
                    <div class="cls">分类</div>
                    <div class="unt">单位</div>
                </div>
                <div id="r4_c_r3_c3_r2"></div>
            </div>
        </div>
        <div id="r4_c_r4">
            <div id="r4_c_r4_r1">
                <div class="tab1">
                        <img src="@Url.Content("~/Images/phone.png")" ></img>
                    </div>
                    <div class="tab2">
                    必备
                    </div>
                    <div class="tab" style="width:45px;">
                    全部
                    </div>
                    <div class="tab" style="width:90px;">
                    Android手机
                    </div>
                    <div class="tab" style="width:90px;">
                    Android平板
                    </div>
                    <div class="tab" style="width:55px;">
                    iPhone
                    </div>
                    <div class="tab" style="width:45px;">
                    iPad
                    </div>
                    <div class="tab" style="width:55px;">
                    轻应用
                    </div>
                    <div class="morelink"><a href="@Url.Content("~/Home/List?cat2=bb")">更多</a></div>
            </div>
            <div id="r4_c_r4_r2">
                <div id="contentrow">
                <ul>
                <li class="larrow"><input id="left_btn_1" type="image" src="@Url.Content("~/Images/larrow.png")" /></li>
                <li class="center">
                <div id="content"></div>
                            <div id="page"></div>
                </li>
                <li class="rarrow"><input id="right_btn_1" type="image" src="@Url.Content("~/Images/rarrow.png")" /></li>
                </ul>
                        @*<div class="larrow">
                            <input id="left_btn_1" type="image" src="@Url.Content("~/Images/larrow.png")" />
                        </div>
                        <div class="center">
                            <div id="content"></div>
                            <div id="page">asdfsadf</div>
                        </div>
                        <div class="rarrow">
                            <input id="right_btn_1" type="image" src="@Url.Content("~/Images/rarrow.png")" />
                        </div>*@
                    </div>
            </div>
        </div>
    </div>
</div>